@tailwind components;
@tailwind base;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-transparent rounded bg-gray-400 dark:bg-gray-500;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-500 dark:bg-gray-400;
}

.text-secondary {
  @apply text-gray-700 dark:text-gray-400;
}

.prose img {
  display: inline;
}
