<!DOCTYPE html>
<html dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              primary: {
                50: '#f4f9ff',
                100: '#e9f4ff',
                200: '#c7e3ff',
                300: '#a5d3ff',
                400: '#62b1ff',
                500: '#1e90ff',
                600: '#1b82e6',
                700: '#176cbf',
                800: '#125699',
                900: '#0f477d',
              },
            },
            fontFamily: {
              sans: ['Vazir', 'sans-serif'],
              mono: ['"Vazir Code"', 'monospace'],
            },
          },
        },
      };
    </script>
    <link
      type="text/css"
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@v30.1.0/dist/font-face.css"
    />
  </head>
  <body class="bg-gray-100 h-full w-full">
    <div class="mt-24 mx-auto max-w-7xl grid grid-cols-2 gap-4 items-start">
      <div class="grid gap-2">
        <div class="grid grid-cols-3">
          <label for="title">Title</label>
          <input class="col-span-2" id="title" />
        </div>
        <div class="grid grid-cols-3">
          <label for="description">Description</label>
          <textarea class="col-span-2" id="description"></textarea>
        </div>
        <div class="grid grid-cols-3">
          <label for="color">Color</label>
          <input class="col-span-2" id="color" />
        </div>
        <div class="grid grid-cols-3">
          <label for="imageClasses">Image Classes</label>
          <input class="col-span-2" id="imageClasses" />
        </div>
        <div class="grid grid-cols-3">
          <label for="imageUrl">Image URL</label>
          <input class="col-span-2" id="imageUrl" />
        </div>
        <div class="grid grid-cols-3">
          <label for="mode">Mode</label>
          <select class="col-span-2" id="mode">
            <option>wide</option>
            <option>square</option>
          </select>
        </div>
        <button
          id="generate"
          onclick="updateImage()"
          class="bg-primary-500 px-4 py-2 rounded-xl text-white"
        >
          Generate
        </button>
      </div>
      <img id="image" onload="endLoading()" />
    </div>

    <script>
      function updateImage() {
        const urlParams = new URLSearchParams({
          title: document.querySelector('#title').value,
          description: document.querySelector('#description').value,
          color: document.querySelector('#color').value,
          imageClasses: document.querySelector('#imageClasses').value,
          imageUrl: document.querySelector('#imageUrl').value,
          mode: document.querySelector('#mode').value,
        });

        document.querySelector(
          '#image'
        ).src = `http://localhost:4444/generate?${urlParams.toString()}`;

        startLoading();
      }

      function endLoading() {
        document.querySelector('#generate').innerText = 'Generate';
      }

      function startLoading() {
        document.querySelector('#generate').innerText = 'Loading...';
      }
    </script>
  </body>
</html>
